:root{
    --background: #ffffff
}

body{
    background-color: var(--background);
    margin: 2 rem;
    font-family: Monospace;

}

.Recept{
    display: grid;

}
/*Navbar*/
.navbar{
    display: flex;

}

.navbarLinks {
    text-decoration: none;
}

.navbarLinks:link {
    color: red;
}

.navbarLinks:visited {
    color: green;
}

.navbarLinks:hover{
    color: blue;
}

.create{
    
}

.createRecipeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.formElement{
    display: flex;
    flex-direction: column;
}