:root{
    --background: #ffffff
}

body{
    background-color: var(--background);
    margin: 2 rem;
    font-family: Monospace;

}

.Recept{
    display: grid;

}
/*Navbar*/
.navbar{
    display: flex;

}

.navbarLinks {
    text-decoration: none;
}

.navbarLinks:link {
    color: red;
}

.navbarLinks:visited {
    color: green;
}

.navbarLinks:hover{
    color: blue;
}

.create{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    width: 80%;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-element {
    display: flex;
    flex-direction: column;
}